*
{
    margin: 0;
    padding: 0;

    list-style: none;
}
html,
body
{
    font-family: sans-serif;
	font-size: 14px;
    color: #787878;
    background-color: #f0f0f0;
    user-select: none;
}
.clearfix::after
{
    display: block;
    clear: both;

    content: '';
}
h3
{
    font-weight: normal;
}
a {
    text-decoration: none;
    color: #666;
}
